/* TAG SELECTORS */ 

body {
    background-color: #EAF6F6;
    font-family: Arial, sans-serif;
    
}

hr {
    background-color: none; 
    border-style : none; 
    border-top-style: dotted;
    /* border-style: dotted, none, none, none; */
    border-color: #FCF8E8; 
    border-width: 5px; 
    width: 30%; 
}

h1 {
    color: #66BFBF; 
}

h3 {
    color: #66BFBF;
}                   
img {
    height: 250px;
}
/* img:hover {
    background-color: gold; 
} */

/* CLASSES SELECTORS */ 

/* 
.profile_pic {
    background-color: grey;
}

/* ID SELECTORS (can only be used in one place--used to IDENTIFY; classes can be reused--used to GROUP) */ 

#heading {
    font-size: 50px;
}